<h1>Welcome to Healthy Options Catering</h1>
<p> You have just wandered in to Healthy Options Catering – Welcome! <br/>
  We are an established Irish private catering company specialising in healthy,
  wholesome home cooking for corporate and social events. </p>