<!--@reference: Ruby,S. & Thomas,D & Heinemeier Hanson, D. (2010), "Agile Web Development with Rails", USA-->
<!--@reference: Wesley Gorman, "Laptop Shop Tutorial" -->

<h1>New line_item</h1>

<%= render 'form' %>

<%= link_to 'Back', line_items_path %>
